<link rel="stylesheet" href="static/register.css">
<head>
  <style>
    nav {
      background-color: #333;
      color: #fff;
      text-align: left;
      padding: 5px;
    }

    nav a {
      text-decoration: none;
      color: #fff;
	  text-align: left;
      margin: 10px;
    }
  </style>
</head>
<div class="changename">
  <h1>Сменить пароль</h1>
  <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Главная</a>
    <form method="post">
      <input type="text" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Подтвердить</button>
    </form>
</div>